#menu-top-shadow
#menu-top
  #hamburger-button

  #brand
    a(href='/') 3d.io
      .beta-badge BETA

  #items
    a(href='/#use-cases') Use Cases
    .spacer
    a(href='/#products') Products
    .spacer
    a(href='/docs/api/1/') API
    .spacer
    a(href='/#pricing') Pricing
    .spacer
    a(href='https://spaces.archilogic.com/partners') Partners
    .spacer
    a(href='/#community') Community
    .spacer
    a(href='https://stackoverflow.com/questions/tagged/aframe%20and%203d.io%20or%20archilogic') Support

  #user

script.
  var $user = $('#user')

  var $nonAuthenticated = $('<span>').hide().appendTo($user)
  var $signUp = $('<a>', {
    text: 'Sign Up',
    click: function () {
      io3d.ui.signUp().then(function (session) {
        io3d.ui.message.success('Welcome!')
      })
    }
  }).appendTo($nonAuthenticated)
  $('<div>', { class:'spacer' }).appendTo($nonAuthenticated)
  var $logIn = $('<a>', {
    text: 'Log In',
    click: function () {
      io3d.ui.logIn().then(function (session) {
        io3d.ui.message.success('Welcome!')
      })
    }
  }).appendTo($nonAuthenticated)

  var $authenticated = $('<span>').hide().appendTo($user)
  var $logIn = $('<a>', {
    text: 'Dev Dashboard',
    click: io3d.ui.devDashboard
  }).appendTo($authenticated)
  $('<div>', {class: 'spacer'}).appendTo($authenticated)
  var $signUp = $('<a>', {
    text: 'Log Out',
    click: function () {
      io3d.auth.logOut().then(function (session) {
        io3d.ui.message('See you later')
      })
    }
  }).appendTo($authenticated)

  io3d.auth.session$.subscribe(function (session) {
    if (session.isAuthenticated) {
      $nonAuthenticated.hide()
      $authenticated.show()
    } else {
      $nonAuthenticated.show()
      $authenticated.hide()
    }
  })