@import "common/reset.less";
@import "common/normalize.less";
@import "common/skeleton.less";
@import "common/mixins.less";
@import "common/configs.less";

body {
    font-family: "Fira Sans", Helvetica, Arial, sans-serif;
    background: #fff;
    font-size: 16px;
    line-height: 1.2;
}

.open-publishable-api-keys-menu, .open-publishable-api-key-menu, .open-publishable-keys-menu, .open-publishable-key-menu {
    cursor: pointer;
}
.open-secret-api-keys-menu, .open-secret-api-key-menu, .open-secret-keys-menu, .open-secret-key-menu {
    cursor: pointer;
}

@import "common/tables.less";
@import "common/lists.less";
@import "common/menu-top.less";
@import "common/footer.less";