extends pug-common/main.pug


block head
  link(href='css/index-page.css', rel='stylesheet')


block content
  .container
    .row#title-row
      .six.columns
        <svg class="spacer" xmlns="http://www.w3.org/2000/svg" style="width:100%;" viewBox="0 0 500 20"></svg>
        img(src='img/logo/3d-io-logo-large.svg', style='width: 100%; max-width: 300px; margin: 15px 0 15px 0;')
        br
        <svg class="spacer" xmlns="http://www.w3.org/2000/svg" style="width:100%;" viewBox="0 0 500 50"></svg>
        a(href='https://spaces.archilogic.com/explore?popup=order').cta-button Get 3D Models
        a(href='https://appcreator.3d.io/').cta-button Build Apps
        a(href='https://3d.io/partners.html').cta-button Explore
        a(href='https://github.com/archilogic-com/3dio-js' title='github').cta-button.cta-github &nbsp;

      .six.columns
        //- title pic
        #title-pic
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 978 932"></svg>
          .mask
            img(src='img/title-pic-plan.png')#title-pic-plan
            img(src='img/title-pic-arch.png')#title-pic-arch
            img(src='img/title-pic-furniture.png')#title-pic-furniture
    .row#claims
      .four.columns
        <br/>
        <font size="4" style="color:black"> <b> Get 3D content - without worrying about complex data conversions</b> </font>
        <br/>
        <br/>
        <font style="line-height:150%" size="3"> 3d.io services such as <a href="floor-plan-to-3d-conversion.html">2D->3D conversion</a>, the <a href="https://furniture.3d.io">furniture library</a>, and <a href=:"https://3d.io/use-case/virtually-staged-3d-scan.html">3D import</a> let you focus on  getting great content to your users. Fast.</font>
      .four.columns
        <br/>
        <font size="4" style="color:black"> <b> Modify your 3D content using scalable preprocessing in our cloud </b> </font>
        <br/>
        <br/>
        <font style="line-height:150%" size="3"> <a href="https://appcreator.3d.io">Create Apps<a/>, <a href="https://docs.archilogic.com/en/3d-editor/lighting/">bake lightmaps</a>, create <a href="https://docs.archilogic.com/en/3d-editor/materials/">texture-sets</a>, apply <a href:"https://modify.3d.io">3D modifiers</a> or furnish a room in seconds using home staging AI. Boost app performance using textures and shaders, progressive loading, caching and preprocessing.</font>
      .four.columns
        <br/>
        <font size="4" style="color:black"> <b> Supercharge your content and apps through the Partner Network </b> </font>
        <br/>
        <br/>
        <font style="line-height:150%" size="3"> Need turnkey custom solutions? Get inspired by the incredible user stories our <a href="partners.md">certified partners</a> have created - work with them or <a href="partner-application.md">apply</a> to join the program.</font>



  .container#use-cases
    .row
      .twelve.columns
        h2 Use Cases
    .row
      .six.columns
        .example
          a(href='use-case/designer-portfolio-augmented-vr.md')
            img(src='img/use-case-portfolio.jpg', style='margin-top: 20px; width: 100%;')
            p Residential Showcase in 3D
      .six.columns
        .example
          a(href='use-case/3d-app-with-lightmaps.md')
            img(src='img/use-case-a-frame.jpg', style='margin-top: 20px; width: 100%;')
            p Presenting an Office Space Interactively
    .row
      .six.columns
        .example
          a(href='use-case/virtually-staged-3d-scan.md')
            img(src='img/use-case-virtual-staging-3d-scan.jpg', style='margin-top: 20px; width: 100%;')
            p Virtually Staged 3D Scan
      .six.columns
        .example
          a(href='use-case/floor-plan-converted-to-basic-3d-model.md')
            img(src='img/use-case-converted-floorplan.jpg', style='margin-top: 20px; width: 100%;')
            p Floor Plan Converted to Basic 3D Model

  .container#products
    //- Read products json and extract data for use in template
    -
      var productsJson = require('../src/products.json')
      function getByCategory(category) {
        return productsJson.products.reduce(function(a, b){
          return b.category === category ? a.concat(b) : a
        }, [])
      }
      var experiences = getByCategory('experiences')
      var content1 = getByCategory('content').slice(0,5)
      var content2 = getByCategory('content').slice(5)

    //- Mixin (html template for product lists
    mixin productList(products)
      each p in products
        .product
          .left
            .icon-container
              if p.icon
                img(class=`icon` src=`img/products/${p.icon}.svg`)
          .right
            h4= p.title
            .badges
              if p.app.url
                a(href=p.app.url).app App
              if p.api.url
                a(href=p.api.url).api API
              if !p.app.url && !p.api.url
                | (coming soon)

    //- list products
    .row
      .twelve.columns
        h2 Products
    .row
      .seven.columns
        <font style="line-height:150%" size="3"> Building blocks doing one thing at a time and do it well, not a framework but libs and services you can freely combine and mix with other stuff.</font>
        p(style='margin-bottom:0px;') <a href="docs/api/1/"> API Reference</a> | <a href="technology.md">Our Tech Philosophy</a>
    .row.list
      .four.columns
        h2 Build Experiences:
        br
        +productList(experiences)
      .four.columns
        h2 Get Content:
        br
        +productList(content1)
      .four.columns
        <svg class="spacer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"></svg>
        +productList(content2)

  .container#pricing
    .row
      .seven.columns
        h2 Pricing
        <font style="line-height:150%" size="3"> Frontend code is open source. Freemium APIs with generous free quotas. </font>
    .row
      .twelve.columns
      table(style='width: 100%; margin-bottom:16px;')
        tr
          td.desc(style='position:relative;')
            p(style='font-weight:300; display: block; position: absolute; bottom: 6px;') Products:
          td.free
            p Explore
            p(style='font-weight:300;') A generous dose of 3D
            p Free
          td.pro
            p Professional
            p(style='font-weight:300;') Grow your user base
            p $25 / Month
          td.bus
            p Business
            p(style='font-weight:300;') Get what you need
            p Pay as you go
        tr
          td.desc App Creator<br>3D Editor<br>Furniture Library<br>Scene Library<br>Material Library
          td.free <br><br>Included
          td.pro <br><br>Included
          td.bus <br><br>Included
        tr
          td.desc Convert Floor Plans to <a href="floor-plan-to-3d-conversion.html">Basic 3D Models</a>
          td.free 10
          td.pro 50
          td.bus 50
        tr
          td.desc Import Matterport 3D Scans
          td.free 10
          td.pro 25
          td.bus $ 2
        tr
          td.desc Publish 3D Models
          td.free 30
          td.pro 100
          td.bus $ 0.50
        tr
          td.desc Export 3D Models
          td.free 10
          td.pro 100
          td.bus $ 0.50
        tr
          td.desc Home Staging AI
          td.free 100
          td.pro 250
          td.bus $ 0.20
        tr
          td.desc 3D Asset Storage (GB transfer)
          td.free 10
          td.pro 100
          td.bus $ 0.20
        tr
          td.desc Lightmap Bakes - Low Resolution
          td.free 50
          td.pro 300
          td.bus $ 0.15
        tr
          td.desc Lightmap Bakes - High Resolution
          td.free 3
          td.pro 20
          td.bus $ 3.00
        tr
          td.desc 3D Modifications
          td.free 50
          td.pro 250
          td.bus $ 0.20
        tr
          td.desc
          td.free
            a.open-dev-dashboard.cta Get API Key
          td.pro
            .cta-coming-soon Coming Soon
          td.bus
            .cta-coming-soon Coming Soon

      p <a href="special-pricing.md">We provide special pricing for certified partners and platforms.</a>
  .container#community
    .row
      .seven.columns
        h2 Community
        .icons
          // github
          //stack overflow
          //stack exchange
          //we get around
          //twitter
          //reddit
          //blender
        <font style="line-height:150%" size="3"> 3d.io combines deep knowledge of architecture, design, 3D workflows, computer vision and coding to create visually stunning and powerful 3D interiors in the web – for everyone, anywhere, anytime. Go to places that no longer exist, that don’t exist yet and everything else in between. </font>
    .row
      .twelve.columns
        <br/>
        <font style="line-height:150%" size="3"> Active Core Contributors: </font>
        #contributors
          a(href='https://github.com/m-ke')
            img(src='https://avatars2.githubusercontent.com/u/6909854?v=3&s=96', title='Monika Kedrova')
          a(href='https://github.com/PascalBabey')
            img(src='https://avatars1.githubusercontent.com/u/26972468?v=3&s=96', title='Pascal Babey')
          a(href='https://github.com/frederic-schwarz')
            img(src='https://avatars0.githubusercontent.com/u/7444615?v=3&s=96', title='Frederic Schwarz')
          a(href='https://github.com/CosimaLL')
            img(src='https://avatars3.githubusercontent.com/u/25457160?v=3&s=96', title='Cosima Lefranc')
          a(href='https://github.com/orgs/archilogic-com/people/bnjm')
            img(src='https://avatars3.githubusercontent.com/u/1694288?v=3&s=96', title='Ben Devine')
          a(href='https://github.com/Kasparlogic')
            img(src='https://avatars1.githubusercontent.com/u/7147627?v=3&s=96', title='Kaspar Helfrich')
          a(href='https://github.com/dburgauer')
            img(src='https://avatars1.githubusercontent.com/u/28351558?v=3&s=96', title='Dominique Burgauer')
          a(href='https://github.com/tomas-polach')
            img(src='https://avatars3.githubusercontent.com/u/6619499?v=3&s=96', title='Tomas Polach')
          a(href='https://github.com/david-tran-archilogic')
            img(src='https://avatars1.githubusercontent.com/u/23555744?v=3&s=96', title='David Tran')
          a(href='https://github.com/orgs/archilogic-com/people/AVGP')
            img(src='https://avatars3.githubusercontent.com/u/370246?v=3&s=96', title='Martin Splitt')
          a(href='https://github.com/stavros-papadopoulos')
            img(src='https://avatars2.githubusercontent.com/u/4816174?v=3&s=96', title='Stavros Papadopoulos')
          a(href='https://github.com/abiro')
            img(src='https://avatars1.githubusercontent.com/u/5764438?v=3&s=96', title='Agost Biro')
          a(href='https://github.com/Aadjou')
            img(src='https://avatars3.githubusercontent.com/u/25610447?v=3&s=96', title='Madlaina Kalunder')
          a(href='https://github.com/sjeftijssen')
            img(src='https://avatars3.githubusercontent.com/u/30081479?v=3&s=96', title='Sjef Tijssen')
          a(href='https://github.com/florian-j-meier')
            img(src='https://avatars0.githubusercontent.com/u/26925801?v=3&s=96', title='Florian Meier')

        //- p
        //-  a(href='contributors.md') Full contributor list
